RIXML-interactions2.0-AS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- v.2.0.1 by Alex Shifrin @ Moody's Analytics) -->
<!-- elaborate InteractionRecordCreator, InteractionTopic, Participants -->
<!-- based on ini version by Dmitri Krylov (BlueMatrix LLC) -->
<xs:schema xmlns="http://www.rixml.org/2017/9/RIXML" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rixmldt="http://www.rixml.org/2017/9/RIXML-datatypes" xmlns:rixml="http://www.rixml.org/2017/9/RIXML" targetNamespace="http://www.rixml.org/2017/9/RIXML" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="RIXML-Common-2_5.xsd">
		<xs:annotation>
			<xs:documentation source="This includes a new common schema that has moved the majority of the schema definitions into a new module that has no namespace.  This is to facilitate re-use of the schema."/>
		</xs:annotation>
	</xs:include>
	<xs:import namespace="http://www.rixml.org/2017/9/RIXML-datatypes" schemaLocation="RIXML-datatypes-2_5.xsd"/>
	<xs:element name="Interaction" type="InteractionType">
		<xs:annotation>
			<xs:documentation>Interaction is the root tag for an interaction record. An interaction is an electronic or in-person communication between two or more participant firms (referred to as organizations in this standard). These include, butare not limited to, interactions that must be reported to comply with MiFID II regulations.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InteractionType">
		<xs:annotation>
			<xs:documentation>ComplexType for Interaction</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="InteractionRecordCreator"/>
			<xs:element ref="InteractionDetails"/>
			<!-- why allow multiple Participants elements if its a collection of multi "Participant" elements  -->
			<xs:element ref="Participants"/> 
			<xs:element ref="InteractionStatusInfo" maxOccurs="unbounded"/>
			<xs:element ref="InteractionTopic" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Related" minOccurs="0" maxOccurs="unbounded"/>
			<!-- commenting out the rest -->
			<!--xs:element ref="RelatedProduct" minOccurs="0"/>
			<xs:element ref="RelatedInteraction" minOccurs="0"/>
			<xs:element name="BlastInteraction" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag to indicate whether the interaction is considered a blast interaction by the interaction provider.
Applies only to InteractionModes of VoiceMail or Email, and only if the voicemail or email was distributed to multiple firms (or was not
customized for an individual person/firm). For all other InteractionModes, this tag should be omitted
entirely rather than being set to No. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledInteraction" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Flag to identify whether an interaction is delivered on a regular basis (data feed, etc). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HighValue" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Flag to indicate whether the interaction provider predicts the interaction to be perceived as high value
						by the interaction consumer, or has been told by the interaction consumer that it should be tagged as
						such. 
				</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InteractionDates" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="InteractionDate" type="Date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element-->
		</xs:sequence>
		<!-- added interactionRecordID attribute -->
		<xs:attribute name="interactionRecordID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>
					Unique identifier used to identify the interaction record. In cases where an event included multiple interaction consumers, there will be separate interaction record sent to each consumer firm that contains only the attendee information for attendees from that firm. This InteractionRecordID tag is the unique identifier for the record itself, and will be required. In interactions where more than one consumer firm has participated (a blast email, a breakout session at a conference, etc.), the InteractionID and all other information contained in the record will be the identical, except for the consumer participant information and the unique identifier contained in this InteractionRecordID tag. Thus, this is the unique identifier for this specific interaction + the participant information contained in this record. Any status changes, etc. provided to the consumer firm about this interaction should maintain the same InteractionRecordID, using multiple timestamped Status entries (see below) to track the changes. Use of a Universal Unique IDentifier (UUID), as described on page 21 of the RIXML Research Data Dictionary, is recommended.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="interactionID" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					The identifier that uniquely identifies the interaction being described in the interaction record. In cases
					where there is only one record, the same unique identifier can be used for interactionID and
					interactionRecordID; when there are multiple, then interactionID will be the same for each record, and
					the interactionRecordID will be a unique identifier for the record itself.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="InteractionRecordCreator" type="InteractionRecordCreatorType">
		<xs:annotation>
			<xs:documentation>Indicates the name of the person who created the Interaction record.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InteractionRecordCreatorType">
		<xs:annotation>
			<xs:documentation>complexType for InteractionRecordCreatorType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RecordCreatorOrganization" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="RecordCreatorName" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:element name="RecordCreatorOrganization" type="OrganizationType">
		<xs:annotation>
			<xs:documentation>Firm name for the person who created the record. Uses OrganizationType complex type from common schema, which only requires firm name. Additional elements and attributes can be used, if desired, but are not required.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RecordCreatorName" type="PersonDetailsType">
		<xs:annotation>
			<xs:documentation>The name of the person who created the record.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RelatedInteraction" type="RelatedInteractionType">
		<xs:annotation>
			<xs:documentation>Container element containing information about the interaction itself.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InteractionDetails" type="InteractionDetailsType">
		<xs:annotation>
			<xs:documentation>Container element containing information about the interaction itself.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InteractionDetailsType">
		<xs:sequence>
			<xs:element name="interactionName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="interactionComment" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="interactionPurpose" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AnalystMarketing"/>
						<xs:enumeration value="BankerMeeting"/>
						<xs:enumeration value="BespokeAccess"/>
						<xs:enumeration value="Conference"/>
						<xs:enumeration value="BespokeWork"/>
						<xs:enumeration value="DealRoadshow"/>
						<xs:enumeration value="FieldTrip"/>
						<xs:enumeration value="ExpertMeeting"/>
						<xs:enumeration value="ModelAccess"/>
						<xs:enumeration value="NonDealRoadshow"/>
						<xs:enumeration value="RelationshipMeeting"/>
						<xs:enumeration value="Sales"/>
						<xs:enumeration value="SalesSpecialist"/>
						<xs:enumeration value="Social"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="interactionLevel" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Research"/>
						<xs:enumeration value="Electronic"/>
						<xs:enumeration value="Interaction"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="interactionMode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="VoiceMail"/>
						<xs:enumeration value="Email"/>
						<xs:enumeration value="IM"/>
						<xs:enumeration value="BespokeData"/>
						<xs:enumeration value="DataFeed"/>
						<xs:enumeration value="Other"/>
						<xs:enumeration value="Video"/>
						<xs:enumeration value="Inperson"/>
						<xs:enumeration value="Call"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InteractionReason" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ConsumerRequested"/>
						<xs:enumeration value="OnSpec"/>
						<xs:enumeration value="NonDirected"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="InteractionParticipantStatus" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Participants" type="ParticipantsType"> 
	</xs:element>
	<xs:complexType name="ParticipantsType"></xs:complexType>
	<xs:element name="InteractionStatusInfo" type="InteractionStatusInfoType">
		<xs:annotation>
			<xs:documentation>Container element for the status information for the interaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InteractionStatusInfoType">
		<xs:sequence>
			<xs:element ref="InteractionParticipantStatus" maxOccurs="1"/>
			<xs:element name="InteractionStatusDateTime" type="Date" maxOccurs="1"/>
			<xs:element name="CurrentStatusIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Indicates whether or not the statusType is current -- i.e. the most recent.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InteractionTopic" type="InteractionTopicType">
	</xs:element>
	<xs:complexType name="InteractionTopicType"> <!-- need to detail this  -->
		<xs:sequence>
			<xs:element ref="AssetClass" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Region" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="SectorIndustry" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Issuer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Related" type="RelatedType">
	</xs:element>
	<xs:complexType name="RelatedType"></xs:complexType>
	<!-- no changes past this point -->
	<xs:complexType name="RelatedInteractionType">
		<xs:sequence>
			<xs:element name="relatedInteractionID" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
					The unique interactionID of the interaction to which this interaction is related (as stored in InteractionID of the related document).
				</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="InteractionRelationshipType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RelationshipDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Date">
		<xs:sequence maxOccurs="1">
			<xs:element name="interactionDateTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="interactionDuration" type="xs:int" minOccurs="0"/>
			<xs:element name="interactionDateType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="StartDate"/>
						<xs:enumeration value="EndDate"/>
						<xs:enumeration value="InitialContactDate"/>
						<xs:enumeration value="ExpirationDate"/>
						<xs:enumeration value="DateRequested"/>
						<xs:enumeration value="DateDue"/>
						<xs:enumeration value="DeliveryDate"/>
						<xs:enumeration value="CancellationDate"/>
						<xs:enumeration value="n/a"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InteractionVenue" type="InteractionVenueType">
		<xs:annotation>
			<xs:documentation>Container element containing details of the location associated with the interaction (when relevant).
For interactions that do not occur in person (phone calls, voicemail, data feed, etc.) , this tag should be
omitted rather than left blank. Container element for the venue information for the interaction.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InteractionVenueType">
		<xs:sequence>
			<xs:element ref="Venue" maxOccurs="unbounded"/>
			<xs:element name="venueName" type="xs:string" minOccurs="0"/>
			<xs:element ref="Address" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Venue" type="VenueType"/>
	<xs:complexType name="VenueType">
		<xs:sequence>
			<xs:element name="venueType" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Onsite">
							<xs:annotation>
								<xs:documentation>Interaction occurred at a place other than the interaction consumer’s office.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Offsite">
							<xs:annotation>
								<xs:documentation>Interaction occurred at the interaction consumer’s office.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="InteractionParticipantStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Attended"/>
				<xs:enumeration value="Accepted"/>
				<xs:enumeration value="Canceled"/>
				<xs:enumeration value="Rejected"/>
				<xs:enumeration value="NoShow"/>
				<xs:enumeration value="LateCancel"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InteractionRelationshipType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ParentEvent">
					<xs:annotation>
						<xs:documentation>
						An interaction that is the umbrella event for the sub-event documented in this Interaction record.
					</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="SubEvent">
					<xs:annotation>
						<xs:documentation>
							An interaction that is a sub-event of the interaction documented in this Interaction record (breakout session, panel discussion, etc.)
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="AnnualEvent">
					<xs:annotation>
						<xs:documentation>
							For an annual interaction (conference, etc.), records for the prior or subsequent year/years.
						</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
